<appSettings>
	<add key="App_Code" value="HYTAPI" />
	<add key="DefaultTitle" value="Hytera API" />
	<add key="PDFPassword" value="FengXiao" />
	<add key="DefaultEmailFrom" value="webmaster@Hytera.us" />
	<add key="SendRealEmail" value="No" />
	<add key="TestEmailTo" value="Tomas Rosales&lt;Tomas.Rosales@Hytera.us&gt;" />

	<add key="SysAdminEmail" value="Feng@Xiao.Legal" />
	<add key="ErrorlogFile" value="D:\_dev\HytRestAPI.txt" />
	<add key="DocVaultRoot" value="D:\DocVault\HytRestAPI" /> 
	<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
	<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
</appSettings>