<connectionStrings>
  <add name="Default" connectionString="Data Source=.\;Initial Catalog=DCN;User ID=sa;Password=arthur1028" providerName="System.Data.SqlClient" />
  <add name="HYTRestAPI" connectionString="Data Source=.\;Initial Catalog=DCN;User ID=sa;Password=arthur1028;" providerName="System.Data.SqlClient" />
</connectionStrings>
